{% extends '@Admin/base.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block title %}{{ parent() }} Ajout un groupe d'évenement {% endblock %}

{% set menu_participants      = true %}
{% set menu_participants_create = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                {{ form_start(form) }}
                <div class="box-header">
                    <h3 class="box-title">Créer un participant</h3>
                </div>

                <div class="box-body">
                    {{ form_row(form.actEvent) }}
                    {{ form_row(form.partTeam) }}
                    {{ form_row(form.partDescription) }}
                    {{ form_row(form.partImage) }}
                    {{ form_row(form.partUniversite) }}
                </div>

                <div class="box-footer">
                    <input type="submit" class="btn btn-primary" value="Enregistrer" name="new_slide"/>
                    <a href="{{ path('participants_index') }}"
                       class="btn btn-default pull-left btn-mini-rectif" >
                        Retour à la liste
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}