{% extends 'front_site_office/base_front.html.twig' %}

{% block title %} Techzara {% endblock %}

{% block body %}


    <section id="home" class="home-cover">

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="callout callout-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="callout callout-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="cover_slider owl-carousel owl-theme">
            {% for event in evenements %}
            <div class="cover_item" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('{{ event.image ? '/event/' ~ event.image : 'front_site_office/img/hiu/bg1.jpg' }}');
                    backdrop-filter: saturate(100%) grayscale(80%) drop-shadow(20px 20px 10px blue);">
                <div class="slider_content">
                    <div class="slider-content-inner">
                        <div class="container">
                            <div class="slider-content-center">
                                <strong class="cover-xl-text">{{ event.title }}</strong>
                                <p class="cover-date">
                                    {{ event.date_debut | date('d') }} - {{ event.date_fin | date('d')  }} /  {{ event.date_fin | date('m')  }}
                                </p>
                                <a href="#event" class=" btn btn-primary btn-rounded" >
                                    See more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!--cover section slider end -->

    <!--event info -->
    <section class="pt100 pb100" id="event">
        {% for new_event in slides %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6 col-md-3  ">
                        <div class="icon_box_two">
                            <i class="ion-ios-calendar-outline"></i>
                            <div class="content">
                                <h5 class="box_title">
                                    Date
                                </h5>
                                <p id="date-event-new">
                                    {{ new_event.sldDate |date ('Y/m/d') }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-3  ">
                        <div class="icon_box_two">
                            <i class="ion-ios-location-outline"></i>
                            <div class="content">
                                <h5 class="box_title">
                                    location
                                </h5>
                                <p>
                                    {{ new_event.sldLocation }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-3  ">
                        <div class="icon_box_two">
                            <i class="ion-ios-person-outline"></i>
                            <div class="content">
                                <h5 class="box_title">
                                    Organizer
                                </h5>
                                <p>
                                    {{ new_event.sldIntervenant }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-3  ">
                        <div class="icon_box_two">
                            <i class="ion-ios-pricetag-outline"></i>
                            <div class="content">
                                <h5 class="box_title">
                                    Participant count
                                </h5>
                                <p>
                                    {{ new_event.sldPlace }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <!--event info end -->


    <!--event countdown -->
    <section class="bg-img pt70 pb70" style="background-color: #007792!important;">
        <div class="overlay_dark"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <h4 class="mb30 text-center color-light">Counter until the inter University Hackathon </h4>
                    <div class="countdown"></div>
                </div>
            </div>
        </div>
    </section>
    <!--event count down end-->


    <!--about the event -->
    <section class="pt100 pb100">
        <div class="container">
            <div class="section_title">
                <h3 class="title">
                    About the event
                </h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    {% for new_event in slides %}
                        <p>{{ new_event.sldEventDescription }}</p>
                    {% endfor %}
                </div>
            </div>

            <!--event features-->
            <div class="row justify-content-center mt30">
                {% for activite in activites  %}
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="icon_box_one">
                            <img src="{{ activite.actImage ?  '/event/' ~ activite.actImage : 'front_site_office/img/hiu/bg1.jpg' }}" alt="activite image" class="img-responsive">
                            <div class="content">
                                <h4>{{ activite.actTitle }}</h4>
                                <p>
                                    {{ activite.actDescription }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--about the event end -->


    <!--speaker section-->
    <section class="pb100">
        <div class="container">
            <div class="section_title mb50">
                <h3 class="title">
                    PARTICIPANTS
                </h3>
            </div>
        </div>
        <div class="row justify-content-center no-gutters p-4">
            {% for participant in participants | slice(0,4) %}
                {% set image = participant.partImage %}
                <div class="col-md-3 col-sm-6">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="{{ image ?  '/event/' ~ image : 'front_site_office/img/hiu/bg1.jpg' }}" alt="speaker name">
                            <div class="info_box">
                                <h5 class="name"> {{ participant.partTeam }}</h5>
                                <p class="position">{{ participant.partUniversite }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="mt-3">
                <a href="{{ path('show_participants') }}" class=" btn btn-primary btn-rounded">Show all</a>
            </div>
        </div>
    </section>
    <!--speaker section end -->

    <!--Price section-->
    <section class="pb100" id="organisateur">
        <div class="container">
            <div class="section_title mb50">
                <h3 class="title">
                   ORGANIZER
                </h3>
            </div>

            <div class="row justify-content-center">
                {% for organisateur in organisateurs %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="{{ organisateur.orgImage ?  '/event/' ~ organisateur.orgImage : 'front_site_office/img/hiu/bg1.jpg' }}" alt="card image"></p>
                                        <h4 class="card-title">{{ organisateur.orgName }}</h4>
                                        <p class="card-text">{{ organisateur.orgResponsabilite }}</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">{{ organisateur.orgName }}</h4>
                                        <p class="card-text">{{ organisateur.orgDecription }}.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--price section end -->

    <!--event calender-->
    <section class="pb100">
        <div class="container">
            <div class="table-responsive">
                <table class="event_calender table">
                    <thead class="event_title">
                    <tr>
                        <th colspan="4" class="text-center">
                            <i class="ion-ios-calendar-outline"></i>
                            <span>All event calendar</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in evenements %}
                        <tr>
                            <td>
                                <img src="{{ event.image ? '/event/' ~ event.image : 'front_site_office/img/hiu/bg1.jpg' }}" alt="event">
                            </td>
                            <td class="event_date">
                                {{ event.date_debut | date('d-m-Y') }}
                            </td>
                            <td>
                                <div class="event_place">
                                    <h5>{{ event.lieu }}</h5>
                                    <h6>{{ event.date_debut | date('H:i') }} - {{ event.date_fin | date('H:i') }}</h6>
                                    <p>{{ event.title }}</p>
                                </div>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-rounded">Read More</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!--event calender end -->

    <!--brands section -->
    <section class="bg-gray pt100 pb100" id="partenaires">
        <div class="container">
            <div class="section_title mb50">
                <h3 class="title">
                    Our partners
                </h3>
            </div>
            <div class="brand_carousel owl-carousel">
                {% for partenaire in partenaires %}
                    <div class="brand_item text-center">
                        <div class="col-12">
                            <div class="image-flip">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="{{ partenaire.parteImage ?  '/event/' ~ partenaire.parteImage : 'front_site_office/img/hiu/bg1.jpg' }}" alt="card image"></p>
                                                <h4 class="card-title">{{ partenaire.parteEntite }}</h4>
                                                <p class="card-text">{{ partenaire.parteLocation }}.</p>
                                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">{{ partenaire.parteEntite }}</h4>
                                                <p class="card-text">{{ partenaire.parteContribution }}</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="{{ partenaire.parteFacebook ?  partenaire.parteFacebook : 'https://www.facebook.com'}}">
                                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="{{ partenaire.parteWebsite ? partenaire.parteWebsite : 'https://www.google.com' }}">
                                                            <i class="fa fa-google"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="mt-3 text-center">
                <a href="{{ path('email_part_new') }}" class=" btn btn-primary btn-rounded">Become a partenaires</a>
            </div>
        </div>
    </section>
    <!--brands section end-->
{% endblock %}




