{% set current_route = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Maven+Pro:400,500,700,900">
            <link rel="stylesheet" href="{{ asset('front_site_office/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('front_site_office/css/style.css') }}">
        {% endblock %}

        <link rel="shortcut icon" href="{{ asset('mail/icon-load.jpg') }}"/>
    </head>

    <body id="id-home" class="kl-front-site">
        {#<div class="se-pre-con"></div>#}
        <div class="wrapper">
            <!-- Header -->
            {{ include("front_site_office/base_front_header.html.twig") }}
            <!-- Main content -->
            {% block body %}{% endblock %}
            <!-- Footer -->
            {{ render(controller('FrontSiteBundle:TzeFooter:show')) }}
        </div>

        {% block javascripts %}
            <script src="{{ asset('front_site_office/js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('front_site_office/bootstrap-4/bootstrap.min.js') }}"></script>
            <script src="{{ asset('front_site_office/js/popper.min.js') }}"></script>
        {% endblock %}

    </body>
</html>