{% extends 'front_site_office/base_front.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block title %}{{ parent() }} Ajout partenaires d'évenement {% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <section class="pb100" style="margin-top: 7%">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                WANT TO BE PARTNER
            </h3>
        </div>
    </div>
        <div class=" container">
            <div class="col-md-12">
                <div class="box box-primary">
                    {{ form_start(form) }}
                    <div class="box-body">
                        {{ form_row(form.actEvent) }}
                        {{ form_row(form.parteEntite) }}
                        {{ form_row(form.parteLocation) }}
                        {{ form_row(form.actEvent) }}
                        {{ form_row(form.parteFacebook) }}
                        {{ form_row(form.partewebSite) }}
                        {{ form_row(form.parteContribution) }}
                        {{ form_row(form.parteDescription) }}
                        {{ form_row(form.parteImage) }}
                    </div>
                        {{ form_errors(form) }}
                    <div class="box-footer">
                        <input type="submit" class="btn btn-default d-block w-100 btn-mini-rectif" value="add us" name="new_partenaires"/>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}