{% set _locale = app.request.locale %}

{#{% form_theme form 'form/custom_fields.html.twig' %}#}
<!--footer start -->
<footer id="contact">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-6">
                <div class="footer_box">
                    <div class="footer_header">
                        <div class="footer_logo">
                            <img src="{{ asset('front_site_office/img/logo/logo-bg.jpeg') }}" style=" width: 145px;" alt="Techzara logo">
                        </div>
                    </div>
                    <div class="footer_box_body">
                        <p>Techzara Madagascar est une association a but non lucratif pour objectif d'ameliorer les compétences Téchniques
                        des étudiants dans le dommaine de la nouvelle Téchnologie</p>
                        <ul class="footer_social">
                            <li>
                                <a href="https://www.facebook.com/Techzara" target="_blank"><i class="fa fa-facebook" style="color: white"></i></a>
                            </li>
                            <li>
                                <a href="https://www.techzara.org" target="_blank"><i class="fa fa-dribbble" style="color:#ffffff;"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="footer_box">
                    <div class="footer_header">
                        <h4 class="footer_title">
                            subscribe to our newsletter
                        </h4>
                    </div>
                    <div class="footer_box_body">
                        <div class="newsletter_form">
                            {{ form_start(form) }}
                                {{ form_row(form.nwsEmail, {'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.nwsSubscribed) }}
                                <button href="{{ path('home_site_index') }}" class="btn btn-rounded btn-block btn-primary">SUBSCRIBE</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright_footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <p> Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | By
                    <a href="https://www.techzara.org" target="_blank">Techzara</a></p>
            </div>
            <div class="col-12 col-md-6 ">
                <ul class="footer_menu">
                    <li>
                        <a class="nav-link active" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="nav-link " href="#event">About the event</a>
                    </li>
                    <li>
                        <a class="nav-link " href="#organisateur">Organizer</a>
                    </li>
                    <li>
                        <a class="nav-link " href="#partenaires">Partenaires</a>
                    </li>
                    <li>
                        <a class="nav-link " href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--footer end -->